.tabsBar {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of tabs on hover */
.tab:hover {
  background-color: #ddd;
}

/* Change background color of active tab */
.tab.active {
  background-color: #ccc;
}

.playerEntry input:focus {
  background-color: green;
}
