ul {
  display: inline-block;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.team {
  display: inline-block;
  margin-right: 30px;
}

.subRoundFixtures {
  background-color: lightgray;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  width: 95%;
}

.fixture {
  background-color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
  display: inline-block;
  width: 90%;
}

input {
  width: 60px;
}

h5 {
  margin: 0px;
}
